# Build artifacts
kernel8.img
kernel8.elf
*.o

# Object files
kernel/kernel/*.o
kernel/arch/aarch64-elf/*.o

# Temporary files
*.tmp
*.bak

# IDE-specific files
.vscode/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# MacOS system files
.DS_Store

# Backup files
*~
